@model PetzWorld.ViewModels.AddDogViewModel;

@{
    ViewData["Title"] = "Dogs Form";
}
<body style="background-color:turquoise;">
<h1>Add new doggie to da database</h1>

<form asp-controller="Dogs" asp-action="AddDog" method="post">
    <label asp-for="Name"> Name:<br>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </label>
    <br />
    <label asp-for="breed"> Breed:<br>
        <select asp-for="breed" id="breed" name="breed">
            <option value="goldenretriever">Golden Retriever</option>
            <option value="labradorretriever">Labrador Retriever</option>
            <option value="englishbulldog">English BullDog</option>
            <option value="frenchbulldog">French Bulldog</option>
            <option value="germanshepherd">German Shepherd</option>
            <option value="beagle">Beagle</option>
            <option value="rottweiler">Rottweiler</option>
            <option value="doodle">Doodle</option>
            <option value="shihtzu">Shih Tzu</option>
            <option value="sheltieshetlandsheepdog">Sheltie Shetland Sheepdog</option>
            <option value="boxer">Boxer</option>
            <option value="husky">Husky</option>
            <option value="dachshund">Dachshund<</option>
            <option value="mix">Mix/Other</option>
        </select>
        <span asp-validation-for="breed"></span>
    </label>
    <br />
    <label asp-for="weight"> Weight (lbs): <br>
        <input type="text" asp-for="weight" />
        <span asp-validation-for="weight"></span>
    </label>
    <br />
        <label asp-for="color"> Color: <br>
        <input type="text" asp-for="color" />
        <span asp-validation-for="color"></span>
    </label>
    <br />
        <label asp-for="sex"> Sex: <br>
        <select asp-for="sex" id="sex" name="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <span asp-validation-for="sex"></span>
    </label>
    <br />
        <label asp-for="age"> Age: <br>
        <input type="text" asp-for="age" />
        <span asp-validation-for="age"></span>
    </label>
    <br />
        <label asp-for="info"> Info: <br>
        <input type="text" asp-for="info" />
        <span asp-validation-for="info"></span>
    </label>
    <br />
        <label asp-for="pic"> Picture (URL please): <br>
        <input type="text" asp-for="pic"/>
        <span asp-validation-for="pic"></span>
    </label>
    <br />
      
    <input type="submit" value="Add Dog"/>
</form>
</body>