@using PetzWorld.ViewModels;
@model AddDogViewModel;

@{
    ViewData["Title"] = "Dogs Form";
}

<h1>Add new doggie to da database</h1>

<form asp-controller="Dogz" asp-action="AddDog" method="post">
    <label asp-for="Name"> Name:<br>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </label>
    <br />
    <label asp-for="breed"> Breed:<br>
        <input type="text" asp-for="breed" />
        <span asp-validation-for="breed"></span>
    </label>
    <br />
    <label asp-for="age"> Age: <br>
        <input type="text" asp-for="age" />
        <span asp-validation-for="age"></span>
    </label>
    <br />

    <input type="submit" value="Add Dog"/>
</form>