@using PetzWorld.ViewModels;
@model AddDogViewModel;

@{
    ViewData["Title"] = "Dogs Form";
}

<h1>Add new doggie to da database</h1>

<form asp-controller="Dogz" asp-action="AddDog" method="post">
    <label asp-for="Name"> Name:<br>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </label>
    <br />
    <label asp-for="breed"> Breed:<br>
        <input type="text" asp-for="breed" />
        <span asp-validation-for="breed"></span>
    </label>
    <br />
    <label asp-for="weight"> Weight (lbs):<br>
        <input type="text" asp-for="weight" />
        <span asp-validation-for="weight"></span>
    </label>
    <br />
    <label asp-for="color"> Color:<br>
        <input type="text" asp-for="color" />
        <span asp-validation-for="color"></span>
    </label>
    <br />
    <label asp-for="age"> Age:<br>
        <input type="text" asp-for="age" />
        <span asp-validation-for="age"></span>
    </label>
    <br />
    <label asp-for="info"> Info:<br>
        <input type="text" asp-for="info" />
        <span asp-validation-for="info"></span>
    </label>
    <br />
    <label asp-for="pic"> Picture (URL):<br>
        <input type="text" asp-for="pic" />
        <span asp-validation-for="pic"></span>
    </label>
    <br />

    <input type="submit" value="Add Dog"/>
</form>