@using PetzWorld.Models;
@model List<Favourite>;
@{
    ViewData["Title"] = "Favourites";
}

<h1></h1>

<body style="background-color:turquoise;">

<h1>Favourite Animals!</h1>

@if (Model.Count == 0)
{
     <p>No favourite animal added yet!</p>
}
<table class="table" style="text-align:center">
    <tr>
        <th style="text-align:center">Username</th>
        <th style="text-align:center">DogId</th>
        <th style="text-align:center">Dog Name</th>
    </tr>
    @foreach (Favourite Fav in Model)
    {
        <tr>
            <td>
                <input type="radio" name="deleteFav" id="deleteFav" value="deleteFav" />
            </td>
            <td style="text-align:center"> @Fav.ApplicationUser.UserName</td>
            <td style="text-align:center"> @Fav.Id</td>
            <td style="text-align:center"> @Fav.Name</td>
            </tr>
    }
</table>

<input type="submit" value="Delete Favourites">
</body>