@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><img height="30" ; height:auto; src="https://lh3.googleusercontent.com/pw/AM-JKLUtBJLlQKUf3TGs55KI1-o9M_QwDRl6QL05AhAXp5FqEe7ilmnJKOGoa3I1EDcK8EO-8kwTdDy0ivq0aaP3Uq_RgKJAi8vuqYU71j6V3JCneuNv13jgCf6JyofzN84mYXkvP-xh9gU4d9_YKUR9XDo=w164-h80-no?authuser=0"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><img height="30" ; height:auto; src="https://lh3.googleusercontent.com/pw/AM-JKLVQ-EngRWKkLbnhVnlVRBM8ohI9APsl7hrcw8NprgwuE7a98wRHhXw1VeYfnLoebFYuf8TYcJzV7xONwh7h0yCOEiqTRw_Vir6cDx9EQDdDJZw7gRiwXrJqIz3OnvixxqpL6a9LJiI4HHnc0uQH_v0=w154-h80-no?authuser=0"></a>
    </li>
}
</ul>


@*@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark"><img height="30" ; height:auto; src="img/buttonLo.png"></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><img height="30" ; height:auto; src="img/buttonR.png"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><img height="30" ; height:auto; src="img/buttonLi.png"></a>
    </li>
}
</ul>*@