@using PetzWorld.Models;
@model List<Dog>;

<body style="background-color:turquoise;"></body>

<form asp-controller="Search" asp-action="Results" method="post">
    <div>
     <span>
        <input type="radio" name="searchType" id="Dogs" value="Dogs" checked />
                    <label for="Dogs">Dogs</label>
     </span>
     <br />
     <span>
        <label for="breed"> Breed:
        <select id="breed" name="searchTerm">
            <option value="all" selected>All</option>
            <option value="goldenretriever">Golden Retriever</option>
            <option value="labradorretriever">Labrador Retriever</option>
            <option value="doodle">Doodle</option>
            <option value="poodle">Poodle</option>
            <option value="pug">Pug</option>
            <option value="englishbulldog">English BullDog</option>
            <option value="frenchbulldog">French Bulldog</option>
            <option value="germanshepherd">German Shepherd</option>
            <option value="beagle">Beagle</option>
            <option value="rottweiler">Rottweiler</option>
            <option value="doodle">Doodle</option>
            <option value="shihtzu">Shih Tzu</option>
            <option value="husky">Husky</option>
            <option value="mix">Mix/Other</option>
        </select>
    </label>
    </span>
        <input type="submit" value="Search" />
    </div>
</form>

