@using PetzWorld.Models;
@model List<Dog>;

<body style="background-color:turquoise;"></body>

<form asp-controller="Search" asp-action="Results" asp-area="" method="post">
    <div>
     <span>
        <input type="radio" name="searchType" id="Dogs" value="Dogs" checked />
                    <label for="Dogs">Dogs</label>
     </span>
     <br />
     <span>
        <label for="breed"> Breed:
        <select id="breed" name="searchTerm">
            <option value="All" selected>All</option>
            <option value="Golden Retriever">Golden Retriever</option>
            <option value="Labrador Retriever">Labrador Retriever</option>
            <option value="German Shepherd">German Shepherd</option>
            <option value="Beagle">Beagle</option>
            <option value="Shih Tzu">Shih Tzu</option>
            <option value="Sheltie Shetland Sheepdog">Sheltie Shetland Sheepdog</option>
            <option value="Doodle">Doodle</option>
            <option value="Pug">Pug</option>
            <option value="English BullDog">English BullDog</option>
            <option value="French Bulldog">French Bulldog</option>
            <option value="Mix/Other">Mix/Other</option>
        </select>
    </label>
    </span>
        <input type="submit" value="Search" />
    </div>
</form>

