@using PetzWorld.Models;
@model List<Dog>;

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body style="background-color:turquoise;">

<form action="/Search/Results" method="post" autocomplete="off">
    <div>
     <span>
        <input type="radio" name="searchType" id="Dogs" value="Dogs" checked />
                    <label for="Dogs">Dogs</label>
     </span>
     <span>
        <input type="radio" name="searchType" id="Cats" value="Cats" />
                    <label for="Cats">Cats</label>
     </span>
        <input type="submit" value="Search" />
    </div>
</form>
</body>