@using PetzWorld.Models;
@model List<Dog>;

<body style="background-color:turquoise;">

<form asp-controller="Search" asp-action="Results" method="post">
    <div>
     <span>
        <input type="radio" name="searchType" id="Dogs" value="Dogs" checked />
                    <label for="Dogs">Dogs</label>
     </span>
     <span>
        <input type="radio" name="searchType" id="Cats" value="Cats" />
                    <label for="Cats">Cats</label>
     </span>
        <input type="submit" value="Search" />
    </div>
</form>
</body>

