<h1>Delete Events</h1>

<form method="post">
   @foreach (var eventdata in ViewBag.allEvents)
   {
      <div class="form-group">
            <label>
               <span>eventData.Name</span>
               <input type="checkbox" name="deleteEvents" value="@eventdata.Id" class="form-control">
            </label>
      </div>
   }

   <input type="submit" value="Delete Events" class="btn btn-danger">

</form>
