<body style="background-color:turquoise;"></body>

<h1>Edit @ViewBag.name Description:</h1>
@*
<form asp-controller="Events" asp-action="Edit" method="post">*@
<form method="post">
    <div class="form-group">
        <label for="description">New Description: </label>
        <input type="text" name="description" />
    </div>
    <input type="submit" value="Change Description" />
</form>