@model List<PetzWorld.Models.Event>

<body style="background-color:turquoise;"></body>

<h1>List of all upcoming Events</h1>

@if (Model.Count == 0)
{
     <p>No upcoming events!</p>
}

<table class="table" style="text-align:center">
    <tr>
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Date</th>
        <th style="text-align:center">Description</th>
    </tr>

    @foreach (Event newEvents in Model)
    {
        <tr>
            <td style="text-align:center"> @newEvents.Name</td>
            <td style="text-align:center"> @newEvents.EventDate</td>
            <td style="text-align:center"> @newEvents.Description</td>
            @*<form>
            <td style="text-align:center"> @newEvents.Description - <a asp-controller="Events" asp-action="Edit" asp-route-id="">Edit</a></td>
            </form>*@
        </tr>
    }
</table>

<form>
    <a asp-controller="Events" asp-action="Add"/>Add Event
</form>
<form>
    <a asp-controller="Events" asp-action="Delete"/>Delete Event
</form>
