@using PetzWorld.Models;
@model List<Event>;

@{
    ViewData["Title"] = "Events";
}

<body style="background-color:turquoise;">

<p>
    <a asp-controller="Events" asp-action="Form"/>Add Event</a>
</p>
<p>
    <a asp-controller="Events" asp-action="Delete"/>Delete Event</a>
</p>

<h1>List of all upcoming Events</h1>

@if (Model.Count == 0)
{
     <p>No upcoming events!</p>
}

<table class="table" style="text-align:center">
    <tr>
        <th style="text-align:center">Id</th>
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Date</th>
        <th style="text-align:center">Description</th>
    </tr>

    @foreach (Event newEvents in Model)
    {
        <tr>
            <td style="text-align:center"> @newEvents.Id</td>
            <td style="text-align:center"> @newEvents.Name</td>
            <td style="text-align:center"> @newEvents.Date</td>
            <td style="text-align:center"> @newEvents.Description</td>
        </tr>
    }
</table>
</body>
