@model List<PetzWorld.Models.Volunteer>;

<h1>List of Volunteer</h1>

@if (Model.Count == 0)
{
     <p>No Volunteers!</p>
}

<table class="table" style="text-align:center">
    <tr>
        <th style="text-align:center">Event Id</th>
        <th style="text-align:center">Event Name</th>
        <th style="text-align:center">Description</th>
    </tr>
    @foreach (Volunteer vol in Model)
    {
        <tr>
            <td style="text-align:center"> @vol.EventId</td>
            <td style="text-align:center"> @vol.EventName</td>
            <td style="text-align:center"> @vol.Description</td>
        </tr>
    }
</table>
