<body style="background-color:turquoise;"></body>

<h1>Delete Volunteering from Events</h1>

<form asp-controller="Volunteer" asp-action="Delete" method="post">
   @foreach (var volEvent in ViewBag.volunteers)
   {
      <div class="form-group">
            <label>
               <span>@volEvent.Name</span>
               <input type="checkbox" name="volunteerIds" value="@volEvent.Id" class="form-control">
            </label>
      </div>
   }

   <input type="submit" value="Delete Volunteer from Events" class="btn-primary" />
</form>