@{
    ViewData["Title"] = "About Us";
}
<body style="background-color:turquoise;"></body>

<h2 align="center">OUR STORY</h2>
<br />
<h3 align="center">WHO WE ARE</h3>
<br />
<p>Our goal is to make shelters the first place potential adopters turn when looking to get a new pet, ensuring that all healthy and treatable pets find loving homes. We do this by breaking down misconceptions surrounding shelter pets and celebrating the unique bond between every shelter pet and parent.</p>
<br />

    <h5>Additional references:</h5>
    <b>The Humane Society of the United States</b>
    <p>
With the help of animal lovers around the world, the Humane Society of the United States fights the big fights to end suffering for all animals, working to end all forms of animal cruelty and achieve the vision behind our name: A humane society. Together with our supporters, we take on puppy mills, factory farms, the fur trade, trophy hunting, cosmetics animal testing and other cruel industries. Learn more at <a href="https://www.humanesociety.org/">humanesociety.org.</a>

<div align="center"> 
     <img height="200"; height:auto; padding:25px; border:unset" src="https://lh3.googleusercontent.com/pw/AM-JKLUPSqjFWw_1VcrWLCxTkxECVI8tEG2U8RsarZfQzdbdIDoFL-yp4ZoJuBAX2n6kQORCaVe-fGIWkrQKVOm6nYW5zfixoZ_65nUwYXbO9qAVPBpPE7tvf7BOsSSIysALhJfeMdm5JqTrKOtSLnbBIhM=s800-no?authuser=0">
</div>

