@{
    ViewData["Title"] = "About Us";
}
<body style="background-color:turquoise;">

<h2 align="center">OUR STORY</h2>
<br />
<h3 align="center">WHO WE ARE</h3>
<br />
<p>Our goal is to make shelters the first place potential adopters turn when looking to get a new pet, ensuring that all healthy and treatable pets find loving homes. We do this by breaking down misconceptions surrounding shelter pets and celebrating the unique bond between every shelter pet and parent.

   
    </p>


    <p style="color: blueviolet">
         We'd like to thank our Instructor, Banana Cat Gerard, as well as TA Pearce for his very strict teaching but yet so kind and great patience with all of us. and TA Colin for his superb positivity, encouragement, and cool guidance. Seriously, without teachers like you, there
         would not have been any of us. You are the reason we persevere. No words of appreciation can begin to equal the amount of knowledge you have passed on to all of us. Thank you very much, sincerely, and we are sure we can speak for everyone in the class about how great TA Braden is too.
         
         <br /> <br />As well as our CEM Claire, along with many other CodeCamp staffz who deserved all of our appreciation for providing us with the chance to join this intensive CodeCamp. They all believe in us when we didn't even believe in ourselves. They are all taking care of us so well during our incredible journey here. We sincerely thank you.
     </p>

    <div align="center"> 
     <img height="200"; height:auto; padding:25px; border:unset" src="https://lh3.googleusercontent.com/pw/AM-JKLUPSqjFWw_1VcrWLCxTkxECVI8tEG2U8RsarZfQzdbdIDoFL-yp4ZoJuBAX2n6kQORCaVe-fGIWkrQKVOm6nYW5zfixoZ_65nUwYXbO9qAVPBpPE7tvf7BOsSSIysALhJfeMdm5JqTrKOtSLnbBIhM=s800-no?authuser=0">
     </div>
     <h5 align="center" style="color: blueviolet">  CodeCamp Philly 2022  <br />
   LaunchCode "Almost" Graduate - Priya & Titi ♪(´▽｀)</h5>
   
    <footer align="center" style="color: #ff4949"> ♥ June 01-09, 2022 ♥ </footer>
</body>
