<body style="background-color:turquoise;"></body>

<h1 align="left"><b>About Pet Adoption</b></h1>
<br />
<p>Our goal is to make shelters the first place potential adopters turn when looking to get a new pet, ensuring that all healthy and treatable pets find loving homes. We do this by breaking down misconceptions surrounding shelter pets and celebrating the unique bond between every shelter pet and parent.
<p>Ask anyone who has adopted a pet and they’ll share with you their story of love, fun and companionship. Why? Because shelter pets are amazing!</p>
<p>Within the next year, millions of cats and dogs will enter shelters and rescue groups nationwide. In that time, even more people intend to bring a pet into their homes, which is why we’re working to show why shelters should be your first choice and preferred way to acquire a pet.</p>
<p>Remember: Dogs and cats who are taken into the care of shelters and rescue groups each year find themselves homeless through no fault of their own; “moving” and “<a href="https://www.humanesociety.org/resources/increasing-housing-options-renters-pets?credit=web_vanity_petsarewelcome">landlord issues</a>” are the top reasons people give up their pets.</p> 
<p>This means shelters and rescues are full of loving, spayed or neutered, vaccinated and often trained pets who are just waiting to meet you! By adopting a cat or dog from a shelter or rescue, you can rest assured that you have not supported the puppy mill industry.</p>
<p>Adopting a pet from a shelter or rescue is a win-win, for you and the pet. So, what are you waiting for? Begin your search for your own pet friend for adoption today.</p>

<div align="center"> 
     <img height="200"; height:auto; padding:25px; border:unset" src="https://lh3.googleusercontent.com/pw/AM-JKLUPSqjFWw_1VcrWLCxTkxECVI8tEG2U8RsarZfQzdbdIDoFL-yp4ZoJuBAX2n6kQORCaVe-fGIWkrQKVOm6nYW5zfixoZ_65nUwYXbO9qAVPBpPE7tvf7BOsSSIysALhJfeMdm5JqTrKOtSLnbBIhM=s800-no?authuser=0">
</div>
