<body style="background-color:turquoise;"></body>

<h1>FAQS ABOUT PET ADOPTION</h1>

<br />
<b>I’ve found a pet I’m interested in. Now what?</b>
<p>Congratulations! Your next step is to contact us (details given on PetzWorld webpage) and get additional information on the shelter or rescue and its adoption process.</p>

<b>What is the difference between a shelter and a rescue group?</b>
<p>The biggest difference is that most shelters keep their available pets in a single facility, while most rescue groups keep theirs in the homes of volunteers.</p>
<p>Also, shelters usually have paid staff as well as volunteers, while rescue groups are typically volunteer-run efforts.</p>

<b>The pet I’m interested in is at a shelter; what will it be like when I go to see her?</b>
<p>Shelters come in all varieties. Some are modern and beautiful, while others are old-fashioned. Some are run by private charities (and usually have terms like “SPCA” or “Humane Society” in their names) and others are government facilities and may be what you’d call “no-frills.”</p>
<p></p>After you’ve selected a pet who seems right for you, most private shelters will let you visit with him or her in their own “dog apartments” or “kitty condos,” or will invite you to spend time with the pet in a special room or fenced outdoor area set aside for pets and adopters to get acquainted.</p>
<p>If you are interested in a dog and already have a dog at home, many private shelters will require you to bring in your resident dog to meet the prospective new family member. This is to make sure there will be no future dog-to-dog conflicts.</p>
<p>The best municipal agencies will be very like a private shelter. Others will simply give you access to their kennel areas and let you make your own choice. They may not have a special “get-acquainted” area, but you should be able to interact with the pet enough to know if you’ve met your match.</p>

<b>What are the pros and cons of adopting from a rescue group?</b>
<p>Rescue group adoptions tend to be much more personalized. The foster families know the pets very well – they should, since they live with them! – and they can give you a lot more information about how the pet fits into a family or home than shelters usually can</p>
<p>This personalization often makes the adoption process more rigorous, and it can take a lot longer. The rescue group may want to conduct a home visit before finalizing the adoption, and will probably contact your veterinarian and references, as well.</p>

<b>Will I be able to take my pet home immediately?</b>
<p>Usually, yes. Sometimes you’ll have to wait for the pet to be spayed or neutered.</p>

<b>How much will it cost?</b>
<p>While some pets are free, adoption fees commonly range between $25 and $250. If you feel the cost is too high, ask what it’s based on. Was the pet with a rescue group that receives no outside funding, pays for all veterinary care, spay/neuter, training, housing, etc. out of their own pockets? Did the pet have extraordinary expenses, such as costly medical care, before being made available for adoption?</p>

<b>What happens if there are problems when I get my pet home?</b>
<p>Some shelters and rescue groups have free or discounted services, such as dog-training classes or veterinary or behavior assistance, to make sure your adoption goes smoothly after you get your new pet home.</p>
<p>Rescue groups usually provide a lot of follow-up to adoptions, and some shelters do as well. If you’re having health, behavior or adjustment problems with your new pet, call your adoption location and ask if they have any services that can help things work out!</p>

<b>After my pet has settled in and we’re loving each other – what do I do next?</b>
<p>Studies have shown that people are three times more likely to go to a shelter or rescue group if they talk to someone else who has. So your next step is to tell the world about your wonderful pet, and where you found him or her!</p>
<p>And, of course, to live happily ever after!</p>

<h3>Additional resources on FAQ's</h3>
<div>
    <label>Humane Society :</label>
    <a href="https://www.humanesociety.org/frequently-asked-questions">Refer for more FAQ's</a>
</div>