@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:teal"></body>

<div>
    <h1 class="display-3" style="font-weight:bolder">Adopt Me!</h1>
    <img style="max-width:65%; height:auto; padding:25px; border:unset" src="https://cdn.pixabay.com/photo/2019/12/26/19/57/christmas-4721114_1280.jpg" alt="Adopt Me">  
</div>
<br />
