@{
    ViewData["Title"] = "PriYuTi";
}

<body style="background-color: lemonchiffon">

<div>
    <center>
    <h1 class="display-3" style="font-weight:bolder; color:teal;" >Adopt Me Plz 🐾!</h1>
    <img style="max-width:50%; height:auto; padding:25px; border:unset" src="https://cdn.pixabay.com/photo/2019/12/26/19/57/christmas-4721114_1280.jpg" alt="Adopt Me">  

</center>
</div>
</body>
<br />
