@{
    ViewData["Title"] = "PetzWorld";
}

<body style="background-color:turquoise;">


<div align="center"> 
<table>
    <tr>
        <td><img height="100"; height:auto; padding:25px; border:unset" src="https://lh3.googleusercontent.com/pw/AM-JKLUPSqjFWw_1VcrWLCxTkxECVI8tEG2U8RsarZfQzdbdIDoFL-yp4ZoJuBAX2n6kQORCaVe-fGIWkrQKVOm6nYW5zfixoZ_65nUwYXbO9qAVPBpPE7tvf7BOsSSIysALhJfeMdm5JqTrKOtSLnbBIhM=s800-no?authuser=0"></td>
        <td><h2 class="display-4" style="font-weight:bolder; color:teal;" >Adopt Me Plz 🐾!</h2></td>
    </tr>
</table>
</div>

<div class="text-center">
    <img style="max-width:40%; height:75%; padding:20px; border:unset" src="https://cdn.pixabay.com/photo/2019/12/26/19/57/christmas-4721114_1280.jpg" alt="Adopt Me">  
</div>
</body>
<br />