@{
    ViewData["Title"] = "PetzWorld";
}

<body style="background-color:turquoise;">

<div>
    <center>
    <h1 class="display-3" style="font-weight:bolder; color:teal;" >Adopt Me Plz 🐾!</h1>
    </center>
</div>
<br />
<div class="text-center">
    <img style="max-width:65%; height:auto; padding:25px; border:unset" src="https://cdn.pixabay.com/photo/2019/12/26/19/57/christmas-4721114_1280.jpg" alt="Adopt Me">  
</div>
</body>
<br />
